portfolio/yegitek-etkinlik/05_o/imscp_rootv1p1p2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.imsproject.org/xsd/imscp_rootv1p1p2"
  xmlns="http://www.imsproject.org/xsd/imscp_rootv1p1p2"
  elementFormDefault="unqualified" version="1.1.2">
  <xsd:element name="manifest"/>
  <xsd:element name="organizations"/>
  <xsd:element name="resources"/>
</xsd:schema>
